<div class="container text-center py-5">
  <h1 class="fw-bold text-danger mb-4">🎬 About Movie Explorer</h1>
  <p class="lead text-light">
    Movie Explorer is a simple Angular project where you can browse trending movies,
    search for your favorite titles, and save them to your personal favorites list.
  </p>

  <p>
    This project uses Angular, Bootstrap, and LocalStorage for favorites management.
    You can expand it by integrating a real movie API (like TMDB) in the future 🚀
  </p>


</div>
