
/* @import "bootstrap/dist/css/bootstrap.min.css"; */

table{
  margin: 10px;
  padding: 10px;
  border: 2px solid red;
  border-radius: 12px;
  width: 300px;
}
/* th, td{
  border: 1px solid skyblue;
} */
h2{
  margin-left: 10px;
}
