<div class="container">
  <h1>Angular Form {{title}}</h1>
  <form [formGroup]="testForm" ngSubmit="submit()">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Enter your username"
        formControlName="username">
      <span *ngIf="username?.hasError('required')" class="text-danger">This is Required Field</span>
    </div>
    <div class="mb-3">
      <label for="Password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Enter your password"
        formControlName="password">
      <span *ngIf="password?.hasError('required')" class="text-danger">This is Required Field</span>
      <span *ngIf="password?.hasError('minlength')" class="text-danger">Password must be atleast five characters </span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


</div>

