
<nav class="navbar">
  <div class="logo"><img src="{{starkImage}}" alt="img"></div>
  <ul class="nav-links" id="navLinks">
    <li>
      <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="">
        Home
      </a>
    </li>
    <li>
      <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="players">
        Players
      </a>
    </li>
    <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="teams">Teams</a></li>
    <li><a  routerLinkActive="active" routerLink="about">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>

<!-- Router outlet goes here -->
<router-outlet></router-outlet>
